
.prod-wrapper .select{
    margin: 0 auto 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.card{
    border: 1px solid #e5e5e5;
    float: left;
    text-align: center;
    padding: 20px;
    margin: 0 0 80px;
}
.card:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.card ul{
    list-style-type: none;
}
.card li:first-child{
    margin-bottom: 20px;
}
